/* Start General */
html * {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
:root {
  --main-color: #004a98;
  --main-color-hover: #003772;
  --main-color-2: #fa6421;

  --trans: all 0.2s ease;
}
::marker {
  content: "";
}
body {
  // height: 31000px;
}
a {
  text-decoration: none;
}

.btn-zaad {
  background-color: var(--main-color);
  color: #fff;
  transition: var(--trans);
  border-radius: 8px;
  outline: none;
  padding: 4px 10px;
  border-color: transparent;
  &:hover {
    background-color: #00346b;
  }
  &:disabled {
    background-color: #2c76c4;
    cursor: no-drop;
  }
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    color: #4a4a4a;
    font-size: 18px;
    font-weight: bold;
  }

  a {
    color: var(--main-color);
    font-size: 16px;
    transition: var(--trans);
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* SkeletonLoader.module.css */

.skeleton {
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

/* Shimmer Animation Effect */
.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.4) 20%,
    rgba(255, 255, 255, 0.7) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* Variants */
.skeleton.text {
  width: 100%;
  height: 1em;
  border-radius: 4px;
}

.skeleton.circular {
  border-radius: 50%;
}

.skeleton.rectangular {
  border-radius: 0;
}

.skeleton.rounded {
  border-radius: 8px;
}
